<%= form_with(model: post, local: true) do |form| %>
<%if post.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
    <p>
      <strong>
        <%= pluralize(post.errors.count, "error")%> ,this post can't be uploaded because:    
      </strong>
      <ul>
        <%post.errors.full_messages.each do |message|%>
        <li><%= message%></li>
        <% end %>
      </ul>
    </p>
  </div>
</div>
<%end%>

<div class="mb-3">
  <strong>
    <%= form.label :image %>
    <% if post.image.attached? %>
    <%= image_tag(@post.image, :class => 'imagePreview') %>
    <% else %>
    <div>
      <img class="imagePreview">
    </div>
    <% end %>
  </strong>
  <div class="input-group">
    <%= form.file_field :image, class: 'inputFile btn btn-outline-primary', :required => true%>
  </div>
</div>
<div class="mb-3">
  <strong>
    <%= form.label :title %>
  </strong>
  <div class="input-group">
    <%= form.text_field :title, :required => true , :class => 'form-control', :placeholder => 'give a title to your post'%>
  </div>
</div>
<div class="mb-3">
  <strong>
    <%= form.label :description %>
  </strong>
  <div class="input-group">
    <%= form.text_area :description, :required => true , :rows=>"5", :class => 'form-control', :placeholder => 'give a description to your post'%>
  </div>
</div>

<div class="mb-3">
  <%= form.submit 'upload', :class => "btn btn-primary" %>
  <% end %>
  <%= javascript_include_tag 'image_preview', 'data-turbolinks-track': 'reload' %>