<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Hi <%=current_user.email.split(/@/)[0].capitalize%>, welcome to SocialZ!</h1>
      <p class="lead text-muted">currently there are <%=Post.all.count%> posts from <%=User.all.count%> users</p>
      <p>
        <%= link_to 'Add a new Post', new_post_path, :class => "btn btn-primary my-2" %>
      </p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <%= render @posts %>
    </div>
  </div>
</main>
<br>


