<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading"><%=@post.title%></h1>
		<p class="lead text-muted">by <%=@post.user.email.split(/@/)[0].capitalize%></p>
	</div>
</section>
<div class="album py-5 bg-light">
	<div class="container">
		<div class="col">
			<div class="card mb-4 shadow-sm">
				<%= image_tag(@post.image, :class => 'card-img-top') %>
				<div class="card-body">
					<h5 class="card-title"><%= link_to @post.user.email, @post.user%></h5>
					<p class="card-text"><%= @post.description %></p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
							<%if current_user.present? && current_user == @post.user%>
							<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-sm btn-outline-secondary' %>
							<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-outline-danger' %>
							<%end%>
						</div>
						<div id="stats" class="d-inline-block">
							<div style="float: right; padding-right: 5px;">
								<small class="text-muted"><%=time_ago_in_words(@post.updated_at)%> ago</small>
								<i class="fa fa-calendar-times-o"></i>
							</div>
							<%= render 'shared/commentStatus'%>
							<%= render 'shared/like' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="commentslist">
			<%= render @post.comments %>
		</div>
		<br />
		<hr>
		<div class="col">
			<%= render 'comments/form' %>
		</div>
	</div>
</div>